extends layout

block title
  title Latest hapi Updates

block content

  section.bottom-rule.github-updates
    .contain
      h3 Latest Updates
      - var issueString = issues.length === 1 ? 'issue' : 'issues';
      - var pullRequestString = pullRequests.length === 1 ? 'pull request' : 'pull requests';
      - var commitString = commits.length === 1 ? 'commit' : 'commits';
      p During the last week we’ve closed <strong>#{issues.length} #{issueString}</strong>, merged <strong>#{pullRequests.length} #{pullRequestString}</strong> and pushed <strong>#{commits.length} #{commitString}</strong> to master branch.

      p If you want information about modules releases in the ecosystem other than the core hapi module, you can look into issues in their respective repositories. They are labelled with <strong>release notes</strong> or <strong>breaking changes</strong> for major releases, otherwise for the minor releases check the issues <strong>milestones</strong>.
      
  section.bottom-rule.changelog
    .contain
      h3 Changelog
      .changelog
        include includes/changelog
