extends layout

block title
  title hapi Community

block content
  .content
    section.single-column
      h2 Community
      p Visit us on IRC in <a href='http://webchat.freenode.net/?channels=hapi'>#hapi</a> on <a href='http://freenode.net'>freenode</a>.
      p We also have a <a href="https://gitter.im/hapijs/hapi" target="_blank">Gitter instance</a> as well (GitHub account required).
      p hapi's stability and reliability is empowering these companies today. If you're using hapi too, we'd love to hear from you. You can find details about how to do this <a href="https://github.com/hapijs/hapijs.com#community" target="_blank">in the readme</a>.

      each company, title in community.all
        section.company.cf
          if (company.logo)
            a(href='#{company.url}', class='community-company-logo')
              img(src='/public/img/#{company.logo}', width=(company.width ? '#{company.width}' : undefined), height=(company.height ? '#{company.height}' : undefined), alt='#{title}')
            blockquote
              p= company.quote
              small &ndash; #{company.person} at #{title}
          else
            blockquote.full-width
              p= company.quote
              small &ndash; #{company.person} at 
                a(href='#{company.url}')= title
