extends layout

block title
  title hapi Community

block content
  .content
    section.bottom-hr.single-column
      h2 Community
      p We have a Slack channel: <a href='https://hapihour.slack.com'>hapihour.slack.com</a>. Feel free to join us. (<a href='https://join.slack.com/t/hapihour/shared_invite/enQtNTA5MDUzOTAzOTU4LTUyZmFiYjkyMTBmNDcyMmI2MmRjMzg4Y2YzNTlmNzUzNjViN2U1NmYyY2NjYjhiYWU4MGE2OTFhZDRlYWMyZDY'>First time? Join here</a>).
      p hapi's stability and reliability is empowering these companies today. If you're using hapi too we'd love to <a href='https://github.com/hapijs/hapijs.com#community'>hear from you</a>.

      - var titles = Object.keys(community.all)
      each title, index in titles
        - var company = community.all[title]

        section.company(class=index < titles.length - 1 ? "bottom-rule" : "")
          .cf
            if (company.logo)
              if (company.url)
                a(href=`${company.url}`, class='community-company-logo')
                  img(src=`/public/img/${company.logo}`, width=(company.width ? company.width : undefined), height=(company.height ? company.height : undefined), alt=title)
              else
                img(src=`/public/img/${company.logo}`, width=(company.width ? company.width : undefined), height=(company.height ? company.height : undefined), alt=title, class='community-company-logo no-link')

              blockquote
                p= company.quote
                small &ndash; #{company.person} at #{title}
            else
              blockquote.full-width
                p= company.quote
                small &ndash; #{company.person} at
                  a(href=`${company.url}`)= title
