extends layout

block title
  title Contributing to hapi

block content

  section.bottom-rule.contributing
    .contain
      h3 Contributing to hapi
      p If you're interested in helping out, here's a list of currently open issues that would be a great place to start. Make sure to read the <a href="/styleguide">style guide</a> before you write any code.

      p Several issues are raised across the hapijs organization that are waiting for contributors to show them some love. Those are marked with <a href="https://github.com/search?q=is%3Aissue+user%3Ahapijs+label%3A%22backlog%22"> backlog label</a>.

      .cf.content
        .column.new-contributor-issues
          header.cf
            h4.pull-left Issues for new contributors
            a.pull-right(href='https://github.com/issues?q=is%3Aopen+is%3Aissue+user%3Ahapijs+label%3A%22good+first+issue%22+', title='See all issues for new contributors') See all

          ul.unstyled
            each issue in newContributorIssues.slice(0, 20)
              li
                p.issue-number
                  a(href=issue.html_url) ##{issue.number}
                p.issue-title (#{issue.repo}) #{issue.title}

        .column.help-wanted-issues
          header.cf
            h4.pull-left Help wanted
            a.pull-right(href='https://github.com/issues?q=is%3Aopen+is%3Aissue+user%3Ahapijs+label%3A%22help+wanted%22', title='See all issues where help is wanted') See all

          ul.unstyled
            each issue in helpWantedIssues.slice(0, 20)
              li
                p.issue-number
                  a(href=issue.html_url) ##{issue.number}
                p.issue-title (#{issue.repo}) #{issue.title}
