extends layout

block title
  title hapi.js

block header

  .content

    section.introduction.cf

      h2 A rich framework for building applications and services
      h4 hapi enables developers to focus on writing reusable application logic instead of spending time building infrastructure.

      .install-hapi.cf
        p $ npm install hapi -g
        .cursor.animated.flash
    
      .latest-update
        small Current version: <a href='https://github.com/hapijs/hapi/tags'>#{tags[0].name}</a> 
        small  ● Latest update:
        small  <a href="#{latestUpdate.url}" role="update">#{latestUpdate.updated}</a>
        small  ● Downloads last month:
        small  <a href="http://npm-stat.com/charts.html?package=hapi">#{String(downloads.downloads).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',')}</a>

block content

  .content
    section.featured
      h2 <a id="hapidays"></a>hapi days are coming!
      p hapi days is a one day conference that will be part of <a href="http://oakland.jsfest.com/">JSFest</a> in Oakland, CA. It's focused on hapi and the people that use it.
      p Come on out as a <a href="#cfp">speaker</a> or <a href="https://ti.to/jsfest/oakland">grab a ticket</a>!

      h4 When?
      p December 11th, 2014.

      h4 Where?
      p TBA, follow <a href="https://twitter.com/hapijs">@hapijs</a> for updates.

      h4 Speakers
      p Speakers will be presenting on <a href="https://github.com/hapijs/hapi">hapi</a>, modules within <a href="https://github.com/hapijs">the hapijs organization</a>, and the use of the hapi ecosystem in businesses as well as private projects.
      p Want to be one? Check out the <a href="#cfp">CFP</a> below!

      .cf
        a.speaker
          img(src='/public/img/mystery-speaker.svg')
        a.speaker
          img(src='/public/img/mystery-speaker.svg')
        a.speaker
          img(src='/public/img/mystery-speaker.svg')
        a.speaker
          img(src='/public/img/mystery-speaker.svg')

      h4 <a id="cfp"></a>Want to give a talk?
      p The CFP is the same as the <a href="https://github.com/mikeal/jsfest-oakland-cfp">JSFest call for proposals</a>; please file an issue there and tag your submission with 'hapi'. There is a very small difference, however, as talks will be 10 minutes long and organized into acts that will occur throughout the day.
      p If you would prefer to keep your submission private, feel free to send an email to <a href="mailto:ben@hapijs.com">ben@hapijs.com</a> instead.

      h4 Code of Conduct
      p Please see the <a href="http://oakland.jsfest.com/conduct.html">JSFest Code of Conduct</a> as it applies to hapi days as well.

    section.community
      h2 Community
      p hapi's <strong>stability</strong> and <strong>reliability</strong> is empowering these companies today:

      .cf

        each company in companies.frontPage
          - var companyProps = companies.all[company.name]
          a(href='#{companyProps.url}', class='community-logo')
            img(src='/public/img/#{companyProps.logo}', width=(company.width ? '#{company.width}' : undefined), height=(company.height ? '#{company.height}' : undefined), alt='#{company.name}')

      a(href='/community', class='button button-primary') See more

      p Are you using hapi too? <a href='https://github.com/hapijs/hapi/issues/1613'>Let us know</a>.

      p Visit us on IRC in <a href='http://webchat.freenode.net/?channels=hapi'>#hapi</a> on <a href='http://freenode.net'>freenode</a>.
    section.getting-started !{guide}

      a(href='/tutorials', class='button button-primary') Read more about getting started with hapi


      script.
        var ageString = function (then) {

            then = new Date(then);
            var now = new Date();
            var age = Math.round((now.getTime() - then.getTime()) / 60 / 1000); // minutes

            if (age < 60) {
                if (age === 1) {
                    return '1 minute ago';
                }

                return age + ' minutes ago';
            }

            age = Math.round(age / 60);

            if (age < 60) {
                if (age === 1) {
                    return '1 hour ago';
                }

                return age + ' hours ago';
            }

            age = Math.round(age / 24);
            if (age === 1) {
                return '1 day ago';
            }

            return age + ' days ago';
        };

        $('[role=update]').text(ageString($('[role=update]').text()));
