extends layout

block title
  title hapi.js

block header

  .content

    section.introduction.cf

      h2 A rich framework for building applications and services
      h4 hapi enables developers to focus on writing reusable application logic instead of spending time building infrastructure.

      .install-hapi.cf
        p $ npm install hapi -g
        .cursor.animated.flash
    
      .latest-update
        small Current version: <a href='https://github.com/hapijs/hapi/tags'>#{version}</a> 
        small  ● Latest update:
        small  <a href="#{latestUpdate.url}" role="update">#{latestUpdate.updated}</a>
        small  ● Downloads last month:
        small  <a href="http://npm-stat.com/charts.html?package=hapi">#{downloads}</a>

block content

  .content

    section.feature
      h3
        a(href='/hapidays') hapi days are coming!

    section.community
      h2 Community
      p hapi's <strong>stability</strong> and <strong>reliability</strong> is empowering these companies today:

      .cf

        each company in community.frontPage
          - var companyProps = community.all[company.name]
          a(href='#{companyProps.url}', class='community-logo')
            img(src='/public/img/#{companyProps.logo}', width=(company.width ? '#{company.width}' : undefined), height=(company.height ? '#{company.height}' : undefined), alt='#{company.name}')

      a(href='/community', class='button button-primary') See more

      p Are you using hapi too? <a href='https://github.com/hapijs/hapi/issues/1613'>Let us know</a>.

      p Visit us on IRC in <a href='http://webchat.freenode.net/?channels=hapi'>#hapi</a> on <a href='http://freenode.net'>freenode</a>.
    section.getting-started
      :markdown
        ## Getting started

        Start by creating a `package.json`:

        ```bash
        npm init
        ```

        Install hapi and save it to your `package.json` dependencies:

        ```bash
        npm install hapi --save
        ```

        Create an `index.js` file with the following contents:

        ```javascript
        var Hapi = require('hapi');

        // Create a server with a host and port
        var server = new Hapi.Server('localhost', 8000);

        // Add the route
        server.route({
            method: 'GET',
            path: '/hello',
            handler: function (request, reply) {

                reply('hello world');
            }
        });

        // Start the server
        server.start();
        ```

        Launch the application by running `node .` and open *localhost:8000/hello* in your browser.

      a(href='/tutorials', class='button button-primary') Read more about getting started with hapi
