extends layout

block title
  title= active

block content
  .content.page-api.cf
    .column.api-description
      .reference!= html

    .column.nav-secondary
      nav
        h3 Tutorials
        ul
          each lang in languages
            li 
              a(href='/tutorials/#{language}', class=(lang === language ? 'active' : '')) #{lang}
        ul
          each tutorial in tutorials
            li
              a(href='/tutorials/#{language}/#{tutorial.slug}', class=(tutorial.title === active ? 'active' : '')) #{tutorial.title}
