extends layout

block title
  title Latest hapi Updates

block content

  section.github-updates
    .content
      h3 Latest Updates
      - var issueString = issues.length === 1 ? 'issue' : 'issues';
      - var pullRequestString = pullRequests.length === 1 ? 'pull request' : 'pull requests';
      - var commitString = commits.length === 1 ? 'commit' : 'commits';
      p During the last week we’ve closed <strong>#{issues.length} #{issueString}</strong>, merged <strong>#{pullRequests.length} #{pullRequestString}</strong> and pushed <strong>#{commits.length} #{commitString}</strong> to master branch.

      .cf
        .column.pull-request-list
          header.cf
            h4.pull-left Merged pull requests
            a.pull-right(href='https://github.com/hapijs/hapi/pulls', title='See all pull requests') See all

          ul.unstyled
            each pullRequest in pullRequests.slice(0, 5)
              li
                p.pull-request-number
                  a(href=pullRequest.html_url) ##{pullRequest.number}
                p.pull-request-title= pullRequest.title

        .column.closed-issues-list
          header.cf
            h4.pull-left Closed issues
            a.pull-right(href='https://github.com/hapijs/hapi/issues?page=1&state=open', title='See all issues') See all

          ul.unstyled
            each issue in issues.slice(0, 5)
              li
                p.issue-number
                  a(href=issue.html_url) ##{issue.number}
                p.issue-title= issue.title

  section.changelog
    .content
      h3 Changelog
      .changelog
        include includes/changelog
